
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Адресс</title>
</head>
<body>
    <div>
        <p>Мы находимся по адресу:</p>
        <p><i>Улица Первомайская, 14.</i></p>
        <p>Как добраться:</p>
        <ul>
            <li>Троллейбус 5. Остановка <i>Площадь Мая</i></li>
            <li>Автобусы 5,37,123.Остановка <i>Майская</li>
            <li>Маршрутные такси 7,93</li>
        </ul>
    </div>
</body>
</html>
