
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Контакты</title>
</head>
<body>
    <div>
        <h2>Телефоны для связи:</h2>
        <p>+375(33)-6434433 Mts,+375(44)-6434433 Vel </p>
    </div>
</body>
</html>
