
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
        category = @ViewBag.Category<br />
        hour = @ViewBag.Hour<br />
    </div>
</body>
</html>
