
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отделы</title>
</head>
<body>
    <div> 
        <h2>У нас огромный выбор предлагаемой продукции</h2>
        <div>
            <p>Вот некоторые из существующих отделов:</p>
            <ul>
                <li>Бытовой химии</li>
                <li>Техники и бытовых приборов</li>
                <li>Одежды</li>
                <li>Обуви</li>
                <li>Равлекателый для всей семьи</li>
                <li>Ювелирных аксессуаров</li>
            </ul>
        </div>
    </div>
</body>
</html>
