
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Преимущества</title>
</head>
<body>
    <div>
        <h1>Почему именно мы!</h1>
        <p>Мы на рынке уже более 10 лет. За эти годы изменилось многое, но не наше отношение к клиенту.<br />
        Мы знаем что вам необходимо,а бесконечные скидки и акции приятно вас удивят.
        </p>
    </div>
</body>
</html>
